@import "tailwindcss";
html,
body {
    margin: 0;
    font-family: sans-serif;
}

#app {
    width: 100vw;
    height: 100vh;
}
.react-flow__node.selectable:focus {
    border: 1px solid #3b82f6;
    box-shadow: 0 0 8px rgba(59, 130, 246, 0.4);
    border-radius: 0.75rem;
}
